body {
    font-family: 'Montserrat', sans-serif;
}

/* media  quries*/
@media only screen and (min-width: 992px) {
    .navbar .show{
        background-color: transparent !important;
    }
    
    
}

@media only screen and (max-width: 544px) {
    .jumbrot h1{
        font-size: 46px !important;
    }
    .jumbrot h5{
        font-size: 18px;
    }
    
}
/* @media only screen and (max-width: 442px) {
    .jumbrot p{
    color: white!important;
    }
    
} */

@media only screen and (max-width: 992px) {
.navbar .show .nav-link{
    color: black !important;
    transition: 0.3s ease;
    

}
.nav-link{
    padding: 0px !important;
}
/* .profimage{
    background-attachment: fixed !important;
} */
}

.homeview {
    background-color: #dbdbdb;
    height: 100vh;
    
}

.profimage {
    background-image: url(../src/prof31.jpg), radial-gradient(circle, #dbdbdb 0%, #dbdbdb 100%);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    background-attachment: fixed;
    height: 100vh;
}

.proalign {
    position: absolute;
    top: 0;
    right: 0;
}

.collapse {
    justify-content: center;
}

nav {
    z-index: 10;
    text-align: center;
}

.navbar {
    position: absolute;
    width: 100%;
    left: 0;
}
.navbar-brand{
    transition: 0.s ease;
    font-weight: 700;
}
.navbar-brand:hover {
    /* -webkit-text-stroke: 1px #343a40; */
    color: #dbdbdb  !important;
    text-shadow: 2px 2px 5px #000000;
}

.navbar .show{
    background-color: #e8cb00c7;
    color: white !important;
    border-radius: 9px;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.nav-link{
    color: black !important;
    padding: 25px 10px;
}
.colorwhite{
    color: white !important;
}

.navbar button {
    border: none;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar button:focus {
    outline: none;
}

.navbar-brand {
    margin-top: 1vh;
    margin-left: 1.5vw;
}

.nav-item {
    margin: 8px 30px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}


/* hambur */

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 4;
    stroke-linecap: round;
}

.ham7 .top {
    stroke-dasharray: 40 82;
}

.ham7 .middle {
    stroke-dasharray: 40 111;
}

.ham7 .bottom {
    stroke-dasharray: 40 161;
}

.ham7.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
}

.ham7.active .middle {
    stroke-dashoffset: 23px;
}

.ham7.active .bottom {
    stroke-dashoffset: -83px;
}


/* jumbrotron */

.jumbrot {
    margin-left: 12vw;
    margin-top: 160px;
}

.jumbrot p {
    margin: 0;
}

.jumbrot h1 {
    font-weight: 900;
    font-size: 75px;
    color: #e8cb00;
}

.hireme {
    border: 1px solid #e8cb00;
    padding: 10px 30px;
    width: 140px;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    color: white;
    margin-top: 10px;
    font-size: 14px;
    background: #e8cb00;
    transition: 0.3s ease;
}
.hireme:focus{
    outline: none;
}
.hireme:hover{
    background: transparent;
    color: black;
}
.jumbrot a:hover {
    text-decoration: none;
}
.jumbrot a{
    width: 140px;
}

/* about me */
.aboutme{
  padding: 20px;  
    
}
.abthead{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin: auto;
    padding: 30px 10px;
    color: white;

}
.abtdata{
text-align: center;
}

.perdp{
    background-image: url(../src/prof1.jpg);
    width: 200px;
    height: 200px;
    border-radius: 70%;
    background-size: 77%;
    background-position: top;
    margin: auto;
}
.bgblack{
    background: black;
    color: #bfbfbf;
    margin: auto;
    margin-bottom: 400px;
    
}
