body {
    font-family: 'Montserrat', sans-serif;
}

/* media  quries*/

@media only screen and (min-width: 992px) {
    .navbar .show {
        background-color: transparent !important;
    }
}

@media only screen and (max-width: 544px) {
    .jumbrot h1 {
        font-size: 46px !important;
    }
    .jumbrot h5 {
        font-size: 16.5px;
    }
}

@media only screen and (max-width: 700Px) {
    .langtitle {
        font-size: 13px !important;
    }
}

@media only screen and (max-width: 770Px) {
    .topdetail {
        font-size: 23px !important;
    }
}

@media only screen and (max-width: 520Px) {
    .topdetail {
        font-size: 14px !important;
    }
}

/* @media only screen and (max-width: 442px) {
    .jumbrot p{
    color: white!important;
    }
    
} */

@media only screen and (max-width: 992px) {
    .navbar .show .nav-link {
        color: black !important;
        transition: 0.3s ease;
    }
    .nav-link {
        padding: 0px !important;
    }
    /* .profimage{
    background-attachment: fixed !important;
} */
}

.homeview {
    background-color: #dbdbdb;
    height: 100vh;
}

.profimage {
    /* background-image: url(../src/prof31.jpg), radial-gradient(circle, #dbdbdb 0%, #dbdbdb 100%); */
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    background-attachment: fixed;
    height: 100vh;
}

/* home photo animations */

.portrait {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.portrait:hover .hover {
    filter: grayscale(100%);
    opacity: 0.4;
}

.portrait:hover .hover-img {
    -moz-transform: translate(var(--translate-x), var(--translate-y));
    -ms-transform: translate(var(--translate-x), var(--translate-y));
    -webkit-transform: translate(var(--translate-x), var(--translate-y));
    transform: translate(var(--translate-x), var(--translate-y));
}

.fill, .hover-img:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.z-10 {
    z-index: 10;
}

.hover {
    -moz-transition: all 380ms cubic-bezier(0.16, 0.01, 0.77, 1);
    -o-transition: all 380ms cubic-bezier(0.16, 0.01, 0.77, 1);
    -webkit-transition: all 380ms cubic-bezier(0.16, 0.01, 0.77, 1);
    transition: all 380ms cubic-bezier(0.16, 0.01, 0.77, 1);
    filter: grayscale(100%);
    opacity: 0;
}

.hover-img {
    -moz-transition: opacity, -moz-transform 320ms cubic-bezier(0.16, 0.01, 0.77, 1);
    -o-transition: opacity, -o-transform 320ms cubic-bezier(0.16, 0.01, 0.77, 1);
    -webkit-transition: opacity, -webkit-transform 320ms cubic-bezier(0.16, 0.01, 0.77, 1);
    transition: opacity, transform 320ms cubic-bezier(0.16, 0.01, 0.77, 1);
}

.hover-img:after {
    content: '';
    background-color: #000000;
    mix-blend-mode: color;
}

.cover-img {
    background-size: auto 100%;
    background-position: right;
    width: 100%;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url(../src/prof31.jpg), radial-gradient(circle, #dbdbdb 0%, #dbdbdb 100%);
}
.proalign {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
}

.collapse {
    justify-content: center;
}

nav {
    z-index: 10;
    text-align: center;
}

.navbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 5px 0px;
    z-index: 20;
    transition: 0.4s ease;
    transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
    /* box-shadow: none; */
}

.navbar-brand {
    transition: 0.3s ease;
    font-weight: 700;
    margin-top: 1vh;
    width: 5vw;
    font-size: 1.15rem;
    margin-left: 5vw;
    margin-bottom: 1vh;
    display: flex;
}

.navbar-brand:hover>.ooclass {
    /* font-size: 25px; */
    /* margin:auto 3px; */
    transform: translateX(10.5px)scale(1.5);
    /* transform: scale(1.4); */
    /* LETTER-SPACING: 2.5px; */
    -webkit-text-stroke: .8px #000000;
    color: #ffffff !important;
    /* text-shadow: -2px 2px 2px #000000; */
}

.ooclass {
    transition: 0.25s ease-in-out;
}

.navbar-brand:hover>.ooclass2 {
    /* font-size: 25px; */
    /* margin:auto 3px; */
    transform: translateX(-11px)scale(1.5);
    /* transform: scale(1.4); */
    /* LETTER-SPACING: 2.5px; */
    -webkit-text-stroke: .8px #000000;
    color: #ffffff !important;
    text-shadow: 0px 2.5px 3px #000000;
}

.ooclass2 {
    transition: 0.25s ease-in-out;
}

.navbar-brand:hover>.ooclass3 {
    /* font-size: 25px; */
    /* margin:auto 3px; */
    transform: translateY(-16px) scaleX(1.9);
    /* transform: scale(1.4); */
    /* LETTER-SPACING: 2.5px; */
    -webkit-text-stroke: .8px #000000;
    color: black;
    /* text-shadow: -2px 2px 2px #000000; */
}

.ooclass3 {
    transition: 0.25s ease-in-out;
}

.navbar .show {
    /* background-color: #ffffffbd;
    backdrop-filter: blur(4px); */
    color: white !important;
    border-radius: 0 0 10px 10px;
}

.nav-link {
    color: black !important;
    padding: 25px 10px;
}

.navbar button {
    border: none;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar button:focus {
    outline: none;
}

.nav-item {
    margin: 8px 30px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}

/* hambur */

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 4;
    stroke-linecap: round;
}

.ham7 .top {
    stroke-dasharray: 40 82;
}

.ham7 .middle {
    stroke-dasharray: 40 111;
}

.ham7 .bottom {
    stroke-dasharray: 40 161;
}

.ham7.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
}

.ham7.active .middle {
    stroke-dashoffset: 23px;
}

.ham7.active .bottom {
    stroke-dashoffset: -83px;
}

/* jumbrotron */

.jumbrot {
    margin-left: 12vw;
    margin-top: 160px;
}

.jumbrot p {
    margin: 0;
}

.jumbrot h1 {
    font-weight: 900;
    font-size: 75px;
    color: #e8cb00;
}

.hireme {
    border: 1px solid #e8cb00;
    padding: 10px 25px;
    /* width: 140px; */
    text-align: center;
    border-radius: 50px;
    position: absolute;
    color: white;
    margin-top: 10px;
    font-size: 14px;
    background: #e8cb00;
    transition: 0.3s ease;
}

.hireme:focus {
    outline: none;
}

.hireme:hover {
    background: transparent;
    color: black;
}

.cvdown {
    border: 1px solid #e8cb00;
    padding: 10px 25px;
    width: 150px;
    text-align: center;
    margin: 26px auto;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    background: #e8cb00;
    transition: 0.3s ease;
}

.cvdown:hover {
    background: transparent;
    color: white;
}

.cvdown:focus {
    outline: none;
}

.jumbrot a:hover {
    text-decoration: none;
}

.jumbrot a {
    width: 140px;
}

/* about me */

.aboutme {
    padding: 20px;
}

.sechead {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin: auto;
    padding: 2vh 10px 7vh 10px;
    color: #d9ebfe;
}

.abtdata {
    text-align: center;
}

.detailsonme {
    display: flex;
    margin: 10px auto;
}

.detailsonme p {
    font-weight: 300;
    margin-bottom: 10px;
}

.boldd {
    font-weight: 800;
}

.perdp {
    background-image: url(../src/profile.png);
    width: 200px;
    position: relative;
    height: 200px;
    border-radius: 70%;
    background-size: cover;
    background-position: top;
    margin: auto;
}

.bgblack {
    background-color: #03101e;
    color: #bfbfbf;
    position: relative;
    margin: auto;
}

.svgpro {
    width: 70px;
}

#svgchar {
    position: absolute;
    width: 200px;
    right: 50%;
    height: 188px;
    margin-right: -88px;
    margin-top: -119px;
    transform: scaleX(-1);
}

.langu {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px auto 0px auto;
    max-width: 80%;
}

.iconn svg {
    width: 50px;
    height: 50px;
}

.iconn {
    width: 100%;
}

.iconn:hover path {
    fill: #e8cb00 !important;
}

.iconn .langtitle {
    transition: 0.3s ease-in-out;
    transform: translateY(-10px);
    opacity: 0;
}

.iconn:hover .langtitle {
    color: #e8cb00;
    font-size: 16px;
    transform: translateY(0px);
    opacity: 1;
    font-weight: 300;
}

.iconn path {
    transition: 0.3s ease-in-out;
}

.langtitle {
    font-size: 17px;
}

.topdetail {
    text-align: center;
    font-size: 25px;
    margin-top: 55px;
    font-weight: 500;
    color: white;
}

.topdetail::before, .topdetail::after {
    display: inline-block;
    content: "";
    border-top: 0.05rem solid white;
    width: 9%;
    margin: 0 1rem;
    transform: translateY(-6px);
}

/* projects */

.propage {
    background-color: #000000;
    background-image: linear-gradient(191deg, #000000 0%, #2c2b2bb3 96%);
    
}

figure.snip1321 {
  
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  
  width: 100%;
  color: white;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1321 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.snip1321 h2,
figure.snip1321 h4 {
  margin: 0;
}
figure.snip1321 h2 {
  font-weight: 600;
}
figure.snip1321 h4 {
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip1321 i {
  font-size: 32px;
}
figure.snip1321:after {
    background-color: #000000c7;
    position: absolute;
    backdrop-filter: blur(4px);
    content: "";
    display: block;
    top: 0px;
    color: white;
    left: 0px;
    right: 0px;
    bottom: 0px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}

.imghold{
    height: 300px;
    background-size: cover;
    position: relative;
    width: 100%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
}



/* svg try */

#star-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    width: 240px;
    height: 240px;
    margin-top: -116px;
  }


 